* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(222,186,137);
    color: white;
}

#title {
    background-color: rgba(245, 233, 220);
    font-size: 43px;
    text-align: center;
    color: black;
}

img {
    width: 400px;
}

.heading {
    font-size: 25px;
    text-align: left;
}

.page {
    background-color: rgb(245, 233, 220);
}