* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0d1f2d;
    color: white;
}

#title {
    background-color: #c6d8ff;
    font-size: 43px;
    text-align: center;
    color: #596F62;
}

img {
    width: 400px;
}

.heading {
    font-size: 25px;
    text-align: left;
    color: #596F62;
}

.page {
    background-color: #c6d8ff;
}